# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
profile_output.txt
# C extensions
*.so
metrics/
# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
trt_cache/
# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec
assets/
*.onnx
*.ort

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# JetBrains PyCharm
.idea/

# Model weights
*.onnx
benchmarks/shootout_cold_start.md
periodicity.png
pitch_analysis_results.json
pitch_contour_spectrogram.png
testdata/test_60s.wav
trt_engines/TensorrtExecutionProvider_TRTKernel_graph__3227921208425576321_0_0_fp16_sm86.engine
trt_engines/TensorrtExecutionProvider_TRTKernel_graph__3227921208425576321_0_0_fp16_sm86.profile
trt_engines/TensorrtExecutionProvider_TRTKernel_graph__3227921208425576321_1_1_fp16_sm86.engine
trt_engines/TensorrtExecutionProvider_TRTKernel_graph__3227921208425576321_1_1_fp16_sm86.profile
trt_engines/TensorrtExecutionProvider_TRTKernel_graph__3227921208425576321_2_2_fp16_sm86.engine
trt_engines/TensorrtExecutionProvider_TRTKernel_graph__3227921208425576321_2_2_fp16_sm86.profile
trt_engines/TensorrtExecutionProvider_TRTKernel_graph__3227921208425576321_3_3_fp16_sm86.engine
trt_engines/TensorrtExecutionProvider_TRTKernel_graph__3227921208425576321_3_3_fp16_sm86.profile
trt_engines/TensorrtExecutionProvider_TRTKernel_graph__3227921208425576321_4_4_fp16_sm86.engine
trt_engines/TensorrtExecutionProvider_TRTKernel_graph__3227921208425576321_4_4_fp16_sm86.profile
trt_engines/TensorrtExecutionProvider_TRTKernel_graph__3227921208425576321_5_5_fp16_sm86.engine
trt_engines/TensorrtExecutionProvider_TRTKernel_graph__3227921208425576321_5_5_fp16_sm86.profile
trt_engines/TensorrtExecutionProvider_TRTKernel_graph__3227921208425576321_6_6_fp16_sm86.engine
trt_engines/TensorrtExecutionProvider_TRTKernel_graph__3227921208425576321_6_6_fp16_sm86.profile
trt_engines/TensorrtExecutionProvider_TRTKernel_graph_torch_jit_11054876705621002330_0_0_fp16_sm86.engine
trt_engines/TensorrtExecutionProvider_TRTKernel_graph_torch_jit_11054876705621002330_0_0_fp16_sm86.profile
trt_engines/TensorrtExecutionProvider_cache_sm86.timing
trt_engines/a18b869b2e81c0c529552a3c4fa5c92ed08b98a4e146aed778d71d27517f83ac/a18b869b2e81c0c529552a3c4fa5c92ed08b98a4e146aed778d71d27517f83ac/TensorrtExecutionProvider_TRTKernel_graph_torch_jit_11054876705621002330_0_0_fp16_sm86.engine
trt_engines/a18b869b2e81c0c529552a3c4fa5c92ed08b98a4e146aed778d71d27517f83ac/a18b869b2e81c0c529552a3c4fa5c92ed08b98a4e146aed778d71d27517f83ac/TensorrtExecutionProvider_TRTKernel_graph_torch_jit_11054876705621002330_0_0_fp16_sm86.profile
trt_engines/a18b869b2e81c0c529552a3c4fa5c92ed08b98a4e146aed778d71d27517f83ac/a18b869b2e81c0c529552a3c4fa5c92ed08b98a4e146aed778d71d27517f83ac/TensorrtExecutionProvider_cache_sm86.timing
